fastapi>=0.111.0
uvicorn>=0.30.1
pydantic>=2.7.4
pydantic-settings>=2.3.4
SQLAlchemy>=2.0.31
alembic>=1.13.2
asyncpg>=0.29.0
greenlet>=3.0.3
neo4j>=5.22.0
temporalio>=1.6.0
redis>=5.0.7
openai>=1.35.7
polars>=1.1.0
razorpay>=1.4.1
python-dotenv>=1.0.1

# AI & Orchestration
langchain
langgraph
langchain-openai

# Data & Event Bus
polars
confluent-kafka
aioboto3

# Observability
sentry-sdk
prometheus-client>=1.0.1
